<h1 class="form-title">Main page</h1>

<%= render 'articles', obj: @articles %>

<div class="nav-pages">
	<%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>